body{
  font-family: helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  color: #444;
}
form {
  max-width: 620px;
  margin: 0 auto;
}

label {
  display: block;
  width: 40%;
  float: left;
  clear: both;
  margin-bottom: 18px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"]{
  float: left;
  width: 50%;
  border: none;
  background: steelblue;
  padding: 8px;
  color: #fff;
}
h1 {
  font-weight: 100;
  color: steelblue;
}